    body {
    background-color: #f5f5f5;
    font-family: Arial, sans-serif;
    text-align: center;
  }
  
  .container {
    max-width: 800px;
    margin: 40px auto;
    padding: 20px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0px 2px 6px rgba(233, 228, 228, 0.1);
    gap: 0px;
  }
  
  #grid_container {
    display: grid;
    grid-template-columns: repeat(20, 1fr);
    gap: 0px;
    border: 1px solid #ccc;
    margin-top: 20px;
  }
  
  .grid-cell {
    width: 20px; 
    height: 20px; 
    background-color: white; 
    border: 1px solid #ddd; 
    box-sizing: border-box; 
    transition: background-color 0.2s ease;
  }  

  .start {
    background-color: #63b94d;
  }
  
  .end {
    background-color: #e74c3c; 
  }
  
  .obstacle {
    background-color: #434343; 
  }
  
  .visited {
    background-color: #636df6; 
  }
  
  .shortest-path {
    background-color: #09ebab; 
  }
  
  .target {
    background-color: red;  
  }

  .buttons_container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
  }
  
  button, select {
    padding: 10px;
    font-size: 14px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #3498db; 
    color: white;
    transition: background-color 0.2s ease;
  }
  
  button:hover, select:hover {
    background-color: #2980b9; 
  }
  
  select {
    width: 120px;
  }

  h1 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  h2 {
    font-size: 18px;
    margin-bottom: 10px;
  }
  

  @media screen and (max-width: 600px) {
    .container {
      padding: 10px;
    }
    
    .grid-cell {
      width: 15px;
      height: 15px;
    }
  }

  .header {
    background-color: #3498db;
    color: #fff;
    padding: 10px;
    align-items: center;
    justify-content: center;
  }
  
  .header-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 0 20px;
  }
  
  .back-button {
    color: #f5f3f3;
    background-color: #090000;
    text-decoration: none;
    transition: color 0.2s ease;
    padding: 8px 12px;
    border-radius: 5px;
  }
  
  .back-button:hover {
    color: #a30f0f;
    background-color: #b0de31;
  }
  
  .header-title {
    font-size: 24px;
    align-content: center;
  }
  
  .footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
  }
  
  #select_target_btn, #remove_target_btn {
  margin-left: 10px;
}

.legend {
  display: flex;
  align-items: center; 
  margin-top: 20px;
  margin-left: 20px; 
}

.legend-item {
  display: flex;
  align-items: center;
  margin-right: 20px;
}

.legend-color {
  width: 20px;
  height: 20px;
  margin-right: 5px;
  border: 1px solid #000;
}

.legend-unsorted {
  background-color: #10db27;
}

.legend-swap {
  background-color: #393ec6;
}

.legend-sorted {
  background-color: rgb(189, 0, 0);
}

.legend-start{
  background-color: #09ebab;
}

.circular-timer {
  position: relative;
  width: 80px; 
  height: 80px; 
  margin: 20px auto;
  padding-left: 50px;
}

.timer-content {
  position: absolute;
  width: 60%;
  height: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.timer {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 12px;
  font-weight: bold;
  color: #30139a;
  z-index: 2;
}

.timer-text {
  margin-bottom: 10px;
}

.timer-unit {
  font-size: 12px; 
}

.dial-ring {
  position: absolute;
  width: 90%;
  height: 120%;
  border: 5px solid transparent; 
  border-top-color: #081baa; 
  border-radius: 70%;
  animation: rotate 1s linear infinite; 
  z-index: 1;
}

@keyframes rotate {
  from {
      transform: rotate(0deg);
  }
  to {
      transform: rotate(360deg);
  }
}